@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
  height: 80px;
  background-color: #61c251;
}

.mainDiv {
  width: 1070px;
  margin: 0px 425px;
}

.main {
  width: 1070px;
  height: 207px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 60px 0px 0px 0px;
}

.sort {
  display: flex;
  align-items: center;
}

.userImg {
  width: 40px;
  height: 40px;
  margin: 20px 15px 0px 50px;
}

.Id {
  margin: 25px 0px 0px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.mainFont {
  width: 471px;
  height: 58px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin: 20px 0px 0px 50px;
}

.date {
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  margin: 20px 0px 0px 50px;
}

.click {
  width: 131px;
  height: 31px;
  background: #61c251;
  border-radius: 50px;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  margin: 15px 0px 0px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  text-decoration-line: none;
}

.click:hover {
  cursor: pointer;
}

.click:active {
  color: white;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomMargin {
  display: flex;
  align-items: center;
}

.bottomDiv {
  margin: 20px 50px 0px 0px;
  display: flex;
  align-items: center;
}

.Img {
  width: 25px;
  height: 23px;
  margin-right: 10px;
}

.font {
  font-size: 15px;
  line-height: 17px;
  margin-top: 17px;
}
