@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GangwonEdu_OTFBoldA';
}

.back {
    display: flex;

    justify-content: center;
}

.container {
    width: 970px;
    height: 345px;
    background-color: #fff;
    margin-top: 80px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 475px;
    top: 271px;
}

img {
    position: fixed;
    left: 305px;
    top: 252px;
    width: 160px;
}

h1 {
    position: fixed;
    left: 505px;
    top: 227px;
    font-size: 60px;
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: normal;
    font-style: normal;
}

.id {
    width: 540px;
    height: 60px;
    border: 1px solid #3ED226;
    border-radius: 15px;
    margin: 20px 0px 20px 0px;
    padding-left: 20px;
    position: fixed;
    left: 765px;
    top: 420px;
    font-size: 30px;
}

.id_lb {
    position: fixed;
    left: 595px;
    top: 435px;
    font-size: 35px;
}

.pw {
    width: 540px;
    height: 60px;
    border: 1px solid #3ED226;
    border-radius: 15px;
    margin: 20px 0px 20px 0px;
    padding-left: 20px;
    position: fixed;
    left: 765px;
    top: 517px;
    font-size: 30px;
}

.pw_lb {
    position: fixed;
    left: 595px;
    top: 532px;
    font-size: 35px;
}

button {
    float: right;
    border-radius: 100%;
    width: 435px;
    height: 435px;
    position: fixed;
    left: 1702px;
    top: 262px;
    color: #fff;
    background-color: #3ED226;
    border: none;
    font-size: 40px;
    text-align: left;
}

button > a {
  text-decoration: none;
  color: #fff;
}

.shape1 {
    width: 213px;
    height: 213px;
    background-color: #3ED226;
    border-radius: 100%;
    position: fixed;
    left: -119px;
    top: 290px;
}

.shape2 {
    width: 566px;
    height: 566px;
    background-color: #3ED226;
    border-radius: 100%;
    position: fixed;
    left: -189px;
    top: 570px;
}

.noPro {
    position: fixed;
    left: 1012px;
    top: 691px;
    font-size: 30px;
}

.regist {
    color: rgba(65, 133, 54, 0.89);
    position: fixed;
    left: 1242px;
    top: 721px;
    font-size: 30px;

}